
:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --secondary-text-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196Fb;
    --primary-white-color: #E5E5E5;
    --secondary-background-color: #2F303A;
}

body {
    background-color: var(--primary-white-color);
    color: v;
    ;
}

a {
    color: inherit;
}

a.page-header {
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 100pr;
    max-width: 1180px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav {
    list-style-type: none;
    
    display: flex;
}
.hero .page-footer {
    background-color: var(--secondary-background-color);
    color: var(--primary-white-color);
}

.logo {
    text-decoration: none;
}

.logo-element {
    color: var(--accent-color);
}

.link {
    color: var(--accent-color);
}

.button:hover {
    background: var(--accent-color);
    color: var(--primary-white-color);
}

.button:focus {
    background: var(--accent-color);
    color: var(--primary-white-color);
}

.title {
    color: var(--secondary-text-color);
    ;
}

.address {
    color: var(--primary-white-color);
    text-decoration: none;
}

li {
    list-style: none;

}